/* ***************************** ELEMENTI ***************************** */
body {
  background: url(../images/bkg.png);
  background-repeat: no-repeat;
  font-family: Montserrat;
  color: white;
}

h1 {
  font-weight: 900;
  margin-bottom: 0;
}

h3 {
  font-weight: 200;
  font-size: 1.2rem;
}

p {
  margin: 0;
}

strong {
  color: white;
}
/* ***************************** CLASSI ***************************** */
.row {
  margin: 0;
  padding: 0;
}
/* ----------------------------- HEADER ----------------------------- */
.top-container {
  padding: 5rem 10% 3rem;
}

.smlogo {
  width: 15vw;
}

.nav-item {
  padding: 0 2rem;
}

.nav-link {
  color: rgba(255,255,255);
  font-weight: 500;
  font-size: 0.9rem;

  display: inline-block;
  padding: 15px 20px 0 20px;
  position: relative;
}

/* UNDERLINE HOVER */
.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}
/* ----------------------------- FOOTER ----------------------------- */
.bottom-container {
  position: fixed;
  bottom: 0;
}

.footer-center {
  margin: 0;
  text-align: center;
  padding-bottom: 0.5vh;
}

.footer {
  margin: 0;
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 2vh;
}

/* ----------------------------- INDEX ----------------------------- */

.hometitle {
  padding-top: 25vh;
  text-align: center;
  font-weight: 900;
  font-size: 5rem;
}

.social {
  text-align: center;
}

.socialicon {
  padding: 1rem 1rem 0;
  color: white;
}

.socialicon:hover {
  color: grey;
  text-decoration: none;
}
/* ----------------------------- WHO IS SALVO ----------------------------- */
.profiletag {
  padding: 1rem 0 2rem 0;
  font-size: 0.7rem;
  margin-right: 1rem;
}

.tag {
  background-color: rgba(62,62,62);
  margin: 0 0.6rem;
  padding: 0 0.5rem;
  width: 30%;
}

.btn-light {
  border-radius: 0;
  font-weight: 900;
  margin-right: 2rem;
}

.profilephoto {
  text-align: right;
  padding: 6rem 0 0 0;
  padding-right: 3rem;
}

.profileinfo {
  border-left-style: solid;
  padding: 0;
  padding-left: 3rem;
}

.studiesimg {
  width: 4%;
  float: left;
  padding-top: 1%;
}

.studies {
  font-size: 0.7rem;
}

/* ----------------------------- PORTFOLIO ----------------------------- */
.carousel-indicators li {
  box-sizing: inherit;
  text-indent: unset;
  width: auto;
  position: relative;
  top: 2rem;
  padding: 0 1vw;
}

.video {
  width: 85%;
  padding-left: 15%;
  height: 55vh;
  border-style: none;
}
/* ------------ PLAYER ------------ */
/* ------------ CARD ------------ */
.card {
  margin-left: 4%;
  width: 70vw;
  height: calc(9/16 * 70vw);
  max-width: calc(16/9 * 70vh);
  max-height: 70vh;
  display: flex;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.card1 {
  background: url(../images/thumb1.jpg) center center/cover;
}

.card2 {
  background: url(../images/thumb2.jpg) center center/cover;
}

.card3 {
  background: url(../images/thumb3.jpg) center center/cover;
}

.card4 {
  background: url(../images/thumb4.jpg) center center/cover;
}

.card-play {
  width: 48px;
  height: 48px;
  position: relative;
  z-index: 1;
  margin: auto;
  opacity: 0;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1613479/play.svg") center center/cover;
  cursor: pointer;
  transition: opacity 0.3s ease-out;
}

.card-play:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #000;
  transition: all 0.5s ease-out;
}

.card-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: #000;
}
.card-video iframe {
  width: 100%;
  height: 100%;
}

.card:after {
  content: "";
  width: 250%;
  height: 250%;
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  opacity: 0;
  background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.3), transparent);
  transition: opacity 0.5s ease-out;
}

/* ------------ STATES ------------ */
.card:hover:after,
.card:hover .card-play {
  opacity: 1;
}

.video-is-open:after {
  display: none;
}

.video-is-open .card-play {
  opacity: 1;
}
.video-is-open .card-play:after {
  width: 2vh;
  height: 2vh;
  transform: translate(-50%, -50%) scale(88.8888888889);
  transition: transform 0.5s ease-out;
}

/* ----------------------------- CONTACTS ----------------------------- */
.contactform {
  border-radius: 2%;
  background-color: rgba(220,220,220,0.1);
  padding: 2rem;
  text-align: center;
  margin: 0 1rem
}

.contacttitle {
  font-weight: 500;
  font-size: 3rem;
}

.form-control {
  background-color: rgba(0,0,0,0);
  color: white;
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0;
  margin-bottom: 2rem;

}

/* cambio colore placholder */
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(220,220,220,0.5);
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgba(220,220,220,0.5);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: rgba(220,220,220,0.5);
 }

.form-control:focus {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  border-color: white;
  color: white;
}

.contactformsubmit {
  margin-top: 3rem;
  font-weight: 900;
  width: 30%;
}

/* ***************************** MEDIA BREAKPOINT ***************************** */
@media only screen and (max-width: 800px) {
  /* ----------------------------- HEADER ----------------------------- */
  .top-container {
    padding: 0;
  }

  .navbar {
    padding: 3%;
  }

  .smlogo {
    width: 80%;
  }

  /* ----------------------------- FOOTER ----------------------------- */
  .bottom-container {
    background-color: rgba(220,220,220,0.3);
  }

  .footer-center {
    padding: 0;
  }

  .footer {
    padding: 0;
  }

  /* ----------------------------- PROFILE ----------------------------- */
  .profilephoto {
    padding-bottom: 2rem;
  }

  .profileinfo {
    padding: 2rem 10vw 4rem 10vw;
    border-left-style: none;
    border-top-style: solid;
  }
}
