/* ***************************** ELEMENTI ***************************** */
body {
  background: url(../images/bkg.png);
  background-repeat: no-repeat;

  font-family: Montserrat;
  color: white;
}

h1 {
  font-weight: 900;
  margin-bottom: 0;
}

h3 {
  font-weight: 200;
  font-size: 1.2rem;
}

p {
  margin: 0;
}
/* ***************************** CLASSI ***************************** */

/* ----------------------------- HEADER ----------------------------- */
.top-container {
  padding: 5rem 10%;
}

.smlogo {
  width: 15vw;
}

.nav-item {
  padding: 0 2rem;
}

.nav-link {
  color: rgba(255,255,255);
  font-weight: 500;
  font-size: 0.9rem;

  display: inline-block;
  padding: 15px 20px 0 20px;
  position: relative;
}
/* UNDERLINE HOVER */
.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}

/* ----------------------------- FOOTER ----------------------------- */
.bottom-container {
  position: fixed;
  bottom: 0;
}

.footer-center {
  margin: 0;
  text-align: center;
  padding-bottom: 2vh;
}

.footer {
  margin: 0;
  font-size: 0.8rem;
  padding-bottom: 1vh;
}

/* ----------------------------- INDEX ----------------------------- */

.hometitle {
  padding-top: 25vh;
  text-align: center;
  font-weight: 900;
  font-size: 5rem;
}

.social {
  text-align: center;
}

.socialicon {
  padding: 1rem 1rem 0;
  color: white;
}

.socialicon:hover {
  color: grey;
  text-decoration: none;
}
/* ----------------------------- WHO IS SALVO ----------------------------- */
.profiletag {
  padding: 1rem 0 2rem 0;
  font-size: 0.7rem;
  margin-right: 1rem;
}

.tag {
  background-color: rgba(62,62,62);
  margin: 0 0.6rem;
  padding: 0 0.5rem;
  width: 30%;
}

.btn-light {
  border-radius: 0;
  font-weight: 900;
  margin-right: 2rem;
}

.profilephoto {
  text-align: right;
  padding: 6rem 0 0 0;
  padding-right: 3rem;
}

.profileinfo {
  border-left-style: solid;
  padding: 0;
  padding-left: 3rem;
}

.studiesimg {
  width: 4%;
  float: left;
  padding-top: 1%;
}

.studies {
  font-size: 0.7rem;
}

/* ----------------------------- PORTFOLIO ----------------------------- */

/* ----------------------------- CONTACTS ----------------------------- */
.contactform {
  border-radius: 2%;
  background-color: rgba(220,220,220,0.1);
  padding: 2rem;
  text-align: center;
}

.contacttitle {
  font-weight: 500;
  font-size: 3rem;
}

.form-control {
  background-color: rgba(0,0,0,0);
  color: white;
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0;
  margin-bottom: 2rem;

}

/* cambio colore placholder */
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(220,220,220,0.5);
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgba(220,220,220,0.5);
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: rgba(220,220,220,0.5);
 }

.form-control:focus {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  border-color: white;
  color: white;
}

.contactformsubmit {
  margin-top: 3rem;
  font-weight: 900;
  width: 30%;
}

/* ***************************** MEDIA BREAKPOINT ***************************** */
/* ----------------------------- FOOTER ----------------------------- */
@media only screen and (max-width: 800px) {
  .top-container {
    padding: 0;
  }

  .navbar {
    padding: 3%;
  }

  .smlogo {
    width: 80%;
  }

  .bottom-container {
    background-color: grey;
  }

  .footer-center {
    padding: 0;
  }

  .footer {
    padding: 0;
  }
}
